
<div id="container">

  <!--
    Gallery title
  -->
  <header>
    <h1><a href="{{relative gallery.home.url}}">{{gallery.title}}</a></h1>
  </header>

  <!--
    Breadcrumbs of parent albums
  -->
  <nav class="breadcrumbs">
    {{#each breadcrumbs~}}
      <a class="breadcrumb-item" href="{{relative url}}">{{title}}</a>&nbsp;/&nbsp;
    {{~/each~}}
    <a class="breadcrumb-item" href="{{relative album.url}}">{{album.title}}</a>
  </nav>

  <!--
    Nested albums, if any
  -->
  <div id="albums">
    {{#each album.albums~}}
      <a href="{{relative url}}" style="background-image: url('{{relative previews.0.urls.large}}')">
        <div class="info">
          <h3>{{title}}</h3>
          <div class="summary">{{summary}}</div>
          <div class="date">{{{date stats.fromDate}}} - {{{date stats.toDate}}}</div>
        </div>
      </a>
    {{~/each}}
  </div>

  <!--
    All photos and videos
  -->
  <ul id="media" class="clearfix">
    {{#each album.files~}}
    <li data-src="{{relative urls.large}}" data-sub-html="" data-download-url="{{relative urls.large}}" data-filename="{{ filename }}">
      <a href="{{relative urls.large}}">
        <img src="{{relative urls.large}}" alt="{{ filename }}"/>
      </a>
    </li>
    {{~/each}}
  </ul>



  <!--
    Optional footer
  -->
  {{#if gallery.footer}}
  <footer>
    <p>{{{gallery.footer}}}</p>
  </footer>
  {{/if}}

</div>
